projekt.json
[
    {
        "id": "6737c1cda3b1c4ca",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "42c86afbdda64202",
        "type": "ui_button",
        "z": "6737c1cda3b1c4ca",
        "name": "",
        "group": "c2c425f4f853cd8b",
        "order": 1,
        "width": 5,
        "height": 1,
        "passthru": false,
        "label": "Posodobi vreme",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 200,
        "y": 1280,
        "wires": [
            [
                "53f76270e1a29461",
                "419450d825d5a669",
                "8e108d5a5165a428",
                "ca616058432bc743",
                "47e51bc06d394cee",
                "766a61f50506e280",
                "462fba041743b6d0",
                "5326a4ccb454a357"
            ]
        ]
    },
    {
        "id": "53f76270e1a29461",
        "type": "openweathermap",
        "z": "6737c1cda3b1c4ca",
        "name": "Kredarica",
        "wtype": "current",
        "lon": "13.848806",
        "lat": "46.378889",
        "city": "",
        "country": "",
        "language": "en",
        "x": 500,
        "y": 900,
        "wires": [
            [
                "2684de10f1289fa9",
                "de3d8ce331b1f7a5",
                "8bb28f092d8ff892",
                "fc73ebd6ad7ce20a",
                "cd27cea3c6c189e4",
                "d5f88de57d369ae6"
            ]
        ]
    },
    {
        "id": "fc73ebd6ad7ce20a",
        "type": "ui_text",
        "z": "6737c1cda3b1c4ca",
        "group": "aafe8b15f310eff1",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Temperatura",
        "format": "{{msg.payload.tempc}} ˚C",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 890,
        "y": 840,
        "wires": []
    },
    {
        "id": "2684de10f1289fa9",
        "type": "ui_text",
        "z": "6737c1cda3b1c4ca",
        "group": "aafe8b15f310eff1",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Oblačnost",
        "format": "{{msg.payload.clouds}} %",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 900,
        "y": 880,
        "wires": []
    },
    {
        "id": "de3d8ce331b1f7a5",
        "type": "ui_text",
        "z": "6737c1cda3b1c4ca",
        "group": "aafe8b15f310eff1",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Vlaga",
        "format": "{{msg.payload.humidity}} %",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 890,
        "y": 920,
        "wires": []
    },
    {
        "id": "8bb28f092d8ff892",
        "type": "ui_text",
        "z": "6737c1cda3b1c4ca",
        "group": "aafe8b15f310eff1",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Veter",
        "format": "{{msg.payload.windspeed}} km/h",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 890,
        "y": 960,
        "wires": []
    },
    {
        "id": "419450d825d5a669",
        "type": "openweathermap",
        "z": "6737c1cda3b1c4ca",
        "name": "Krvavec",
        "wtype": "current",
        "lon": "14.5291901",
        "lat": "46.2962303",
        "city": "",
        "country": "",
        "language": "en",
        "x": 540,
        "y": 1200,
        "wires": [
            [
                "da5c20feff9d747e",
                "3d8b6fc978e71a2b",
                "68c793befc8e1d0b",
                "0b7010eb78dcb12e",
                "7fcafaae71f5f7d9",
                "869df6a956277b9e"
            ]
        ]
    },
    {
        "id": "da5c20feff9d747e",
        "type": "ui_text",
        "z": "6737c1cda3b1c4ca",
        "group": "0aa09fab55e686c0",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Temperatura",
        "format": "{{msg.payload.tempc}} ˚C",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 890,
        "y": 1140,
        "wires": []
    },
    {
        "id": "3d8b6fc978e71a2b",
        "type": "ui_text",
        "z": "6737c1cda3b1c4ca",
        "group": "0aa09fab55e686c0",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Oblačnost",
        "format": "{{msg.payload.clouds}} %",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 900,
        "y": 1180,
        "wires": []
    },
    {
        "id": "68c793befc8e1d0b",
        "type": "ui_text",
        "z": "6737c1cda3b1c4ca",
        "group": "0aa09fab55e686c0",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Vlaga",
        "format": "{{msg.payload.humidity}} %",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 890,
        "y": 1220,
        "wires": []
    },
    {
        "id": "0b7010eb78dcb12e",
        "type": "ui_text",
        "z": "6737c1cda3b1c4ca",
        "group": "0aa09fab55e686c0",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Veter",
        "format": "{{msg.payload.windspeed}} km/h",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 890,
        "y": 1260,
        "wires": []
    },
    {
        "id": "77271a542ac47932",
        "type": "ui_gauge",
        "z": "6737c1cda3b1c4ca",
        "name": "",
        "group": "aafe8b15f310eff1",
        "order": 6,
        "width": 5,
        "height": 4,
        "gtype": "gage",
        "title": "Score",
        "label": "",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#ca3838",
            "#e6e600",
            "#00b500"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1050,
        "y": 1020,
        "wires": []
    },
    {
        "id": "768ad96663acc232",
        "type": "function",
        "z": "6737c1cda3b1c4ca",
        "name": "score",
        "func": "var temp = msg.payload.tempc;\nvar clouds = msg.payload.clouds;\nvar windspd = msg.payload.windspeed;\nvar humidity = msg.payload.humidity;\nvar rain = msg.payload.rain;\ntemp = 4 - 4 * Math.abs(20-temp)/30;\nwindspd = 0.5 - 0.5  * windspd/100;\nhumidity = 0.5 - 0.5 * Math.abs(40 - humidity)/50;\nclouds = 2 - 2*clouds/100;\nrain = 3 - 3 * rain/50;\nvar score = temp + windspd + humidity + clouds + rain;\nmsg.payload = score;\n\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 790,
        "y": 1040,
        "wires": [
            [
                "993f4ea550a6d23d"
            ]
        ]
    },
    {
        "id": "5baa42ae6d337a2d",
        "type": "ui_gauge",
        "z": "6737c1cda3b1c4ca",
        "name": "",
        "group": "0aa09fab55e686c0",
        "order": 6,
        "width": 5,
        "height": 4,
        "gtype": "gage",
        "title": "Score",
        "label": "",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#ca3838",
            "#e6e600",
            "#00b500"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1070,
        "y": 1300,
        "wires": []
    },
    {
        "id": "27df6ec20a2bd125",
        "type": "function",
        "z": "6737c1cda3b1c4ca",
        "name": "score",
        "func": "var temp = msg.payload.tempc;\nvar clouds = msg.payload.clouds;\nvar windspd = msg.payload.windspeed;\nvar humidity = msg.payload.humidity;\nvar rain = msg.payload.rain;\ntemp = 4 - 4 * Math.abs(20-temp)/30;\nwindspd = 0.5 - 0.5  * windspd/100;\nhumidity = 0.5 - 0.5 * Math.abs(40 - humidity)/50;\nclouds = 2 - 2*clouds/100;\nrain = 3 - 3 * rain/50;\nvar score = temp + windspd + humidity + clouds + rain;\nmsg.payload = score;\n\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 810,
        "y": 1320,
        "wires": [
            [
                "fc7ba506ce9968bf"
            ]
        ]
    },
    {
        "id": "8e108d5a5165a428",
        "type": "openweathermap",
        "z": "6737c1cda3b1c4ca",
        "name": "Skuta",
        "wtype": "current",
        "lon": "14.553056",
        "lat": "46.363889",
        "city": "",
        "country": "",
        "language": "en",
        "x": 550,
        "y": 1480,
        "wires": [
            [
                "1d848449a80d92c9",
                "0aa1861daa51fa07",
                "33622d0abad7615b",
                "03923b8323194dec",
                "14690535830c460b",
                "8ef886e5780f350f"
            ]
        ]
    },
    {
        "id": "1d848449a80d92c9",
        "type": "ui_text",
        "z": "6737c1cda3b1c4ca",
        "group": "9c0fab47e772d83f",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Temperatura",
        "format": "{{msg.payload.tempc}} ˚C",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 930,
        "y": 1420,
        "wires": []
    },
    {
        "id": "0aa1861daa51fa07",
        "type": "ui_text",
        "z": "6737c1cda3b1c4ca",
        "group": "9c0fab47e772d83f",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Oblačnost",
        "format": "{{msg.payload.clouds}} %",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 940,
        "y": 1460,
        "wires": []
    },
    {
        "id": "33622d0abad7615b",
        "type": "ui_text",
        "z": "6737c1cda3b1c4ca",
        "group": "9c0fab47e772d83f",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Vlaga",
        "format": "{{msg.payload.humidity}} %",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 930,
        "y": 1500,
        "wires": []
    },
    {
        "id": "03923b8323194dec",
        "type": "ui_text",
        "z": "6737c1cda3b1c4ca",
        "group": "9c0fab47e772d83f",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Veter",
        "format": "{{msg.payload.windspeed}} km/h",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 930,
        "y": 1540,
        "wires": []
    },
    {
        "id": "1657a6c9cf11fa2c",
        "type": "ui_gauge",
        "z": "6737c1cda3b1c4ca",
        "name": "",
        "group": "9c0fab47e772d83f",
        "order": 6,
        "width": 5,
        "height": 4,
        "gtype": "gage",
        "title": "Score",
        "label": "",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#ca3838",
            "#e6e600",
            "#00b500"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1090,
        "y": 1560,
        "wires": []
    },
    {
        "id": "4de7450abd57d18c",
        "type": "function",
        "z": "6737c1cda3b1c4ca",
        "name": "score",
        "func": "var temp = msg.payload.tempc;\nvar clouds = msg.payload.clouds;\nvar windspd = msg.payload.windspeed;\nvar humidity = msg.payload.humidity;\nvar rain = msg.payload.rain;\ntemp = 4 - 4 * Math.abs(20-temp)/30;\nwindspd = 0.5 - 0.5  * windspd/100;\nhumidity = 0.5 - 0.5 * Math.abs(40 - humidity)/50;\nclouds = 2 - 2*clouds/100;\nrain = 3 - 3 * rain/50;\nvar score = temp + windspd + humidity + clouds + rain;\nmsg.payload = score;\n\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 850,
        "y": 1600,
        "wires": [
            [
                "f569d0a36e7a4d2e"
            ]
        ]
    },
    {
        "id": "fc7ba506ce9968bf",
        "type": "calculator",
        "z": "6737c1cda3b1c4ca",
        "name": "round",
        "inputMsgField": "payload",
        "outputMsgField": "payload",
        "operation": "mult",
        "constant": "1",
        "round": true,
        "truncate": false,
        "decimals": "2",
        "decimals2": 0,
        "x": 930,
        "y": 1320,
        "wires": [
            [
                "5baa42ae6d337a2d",
                "867648c883d423c6"
            ]
        ]
    },
    {
        "id": "993f4ea550a6d23d",
        "type": "calculator",
        "z": "6737c1cda3b1c4ca",
        "name": "round",
        "inputMsgField": "payload",
        "outputMsgField": "payload",
        "operation": "mult",
        "constant": "1",
        "round": true,
        "truncate": false,
        "decimals": "2",
        "decimals2": 0,
        "x": 910,
        "y": 1020,
        "wires": [
            [
                "77271a542ac47932",
                "3134c7e8d9bcf734"
            ]
        ]
    },
    {
        "id": "f569d0a36e7a4d2e",
        "type": "calculator",
        "z": "6737c1cda3b1c4ca",
        "name": "round",
        "inputMsgField": "payload",
        "outputMsgField": "payload",
        "operation": "mult",
        "constant": "1",
        "round": true,
        "truncate": false,
        "decimals": "2",
        "decimals2": 0,
        "x": 970,
        "y": 1600,
        "wires": [
            [
                "1657a6c9cf11fa2c",
                "240b473c78b6b3bd"
            ]
        ]
    },
    {
        "id": "3134c7e8d9bcf734",
        "type": "change",
        "z": "6737c1cda3b1c4ca",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "Triglav",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1080,
        "y": 1060,
        "wires": [
            [
                "d720c0aaf8f0a679"
            ]
        ]
    },
    {
        "id": "867648c883d423c6",
        "type": "change",
        "z": "6737c1cda3b1c4ca",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "Krvavec",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1080,
        "y": 1340,
        "wires": [
            []
        ]
    },
    {
        "id": "240b473c78b6b3bd",
        "type": "change",
        "z": "6737c1cda3b1c4ca",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "Skuto",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1120,
        "y": 1620,
        "wires": [
            []
        ]
    },
    {
        "id": "d026d8d8eb858da4",
        "type": "ui_text",
        "z": "6737c1cda3b1c4ca",
        "group": "c2c425f4f853cd8b",
        "order": 3,
        "width": 5,
        "height": 3,
        "name": "",
        "label": "IZBIRA DNEVA: ",
        "format": "Trenutno ti predlagam, da se odpraviš na {{msg.payload}}",
        "layout": "row-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 700,
        "y": 720,
        "wires": []
    },
    {
        "id": "d720c0aaf8f0a679",
        "type": "function",
        "z": "6737c1cda3b1c4ca",
        "name": "določitev zmagovalca",
        "func": "var gore = ['Triglav','Krvavec','Skuto', 'Grintovec','Sneznik', 'Pohorje',\n'Mangart', 'Kum'];\nvar arr = [0,0,0,0, 0,0,0, 0];\nfor(var i = 0; i < arr.length;i++){\n    arr[i] = flow.get(gore[i]);\n}\nvar maksIndeks = 0;\nfor(var j = 1; j < arr.length; j++){\n    if(arr[j] > arr[maksIndeks]){\n        maksIndeks = j;\n    }\n}\nmsg.payload = gore[maksIndeks];\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 740,
        "wires": [
            [
                "d026d8d8eb858da4"
            ]
        ]
    },
    {
        "id": "71f65a9edc04d6cb",
        "type": "ui_text",
        "z": "6737c1cda3b1c4ca",
        "group": "aafe8b15f310eff1",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Dež",
        "format": "{{msg.payload.rain}} mm",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 890,
        "y": 800,
        "wires": []
    },
    {
        "id": "43fbddc152ab97bb",
        "type": "ui_text",
        "z": "6737c1cda3b1c4ca",
        "group": "0aa09fab55e686c0",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Dež",
        "format": "{{msg.payload.rain}} mm",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 890,
        "y": 1100,
        "wires": []
    },
    {
        "id": "dd6a3a840fbd3eae",
        "type": "ui_text",
        "z": "6737c1cda3b1c4ca",
        "group": "9c0fab47e772d83f",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Dež",
        "format": "{{msg.payload.rain}} mm",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 910,
        "y": 1380,
        "wires": []
    },
    {
        "id": "cd27cea3c6c189e4",
        "type": "function",
        "z": "6737c1cda3b1c4ca",
        "name": "set to rain to 0",
        "func": "if(msg.payload.rain == null){\n    msg.payload.rain = 0;\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 660,
        "y": 840,
        "wires": [
            [
                "71f65a9edc04d6cb"
            ]
        ]
    },
    {
        "id": "7fcafaae71f5f7d9",
        "type": "function",
        "z": "6737c1cda3b1c4ca",
        "name": "set to rain to 0",
        "func": "if(msg.payload.rain == null){\n    msg.payload.rain = 0;\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 680,
        "y": 1140,
        "wires": [
            [
                "43fbddc152ab97bb"
            ]
        ]
    },
    {
        "id": "14690535830c460b",
        "type": "function",
        "z": "6737c1cda3b1c4ca",
        "name": "set to rain to 0",
        "func": "if(msg.payload.rain == null){\n    msg.payload.rain = 0;\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 720,
        "y": 1400,
        "wires": [
            [
                "dd6a3a840fbd3eae"
            ]
        ]
    },
    {
        "id": "d5f88de57d369ae6",
        "type": "function",
        "z": "6737c1cda3b1c4ca",
        "name": "set to rain to 0",
        "func": "if(msg.payload.rain == null){\n    msg.payload.rain = 0;\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 620,
        "y": 980,
        "wires": [
            [
                "768ad96663acc232"
            ]
        ]
    },
    {
        "id": "869df6a956277b9e",
        "type": "function",
        "z": "6737c1cda3b1c4ca",
        "name": "set to rain to 0",
        "func": "if(msg.payload.rain == null){\n    msg.payload.rain = 0;\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 680,
        "y": 1280,
        "wires": [
            [
                "27df6ec20a2bd125"
            ]
        ]
    },
    {
        "id": "8ef886e5780f350f",
        "type": "function",
        "z": "6737c1cda3b1c4ca",
        "name": "set to rain to 0",
        "func": "if(msg.payload.rain == null){\n    msg.payload.rain = 0;\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 680,
        "y": 1540,
        "wires": [
            [
                "4de7450abd57d18c"
            ]
        ]
    },
    {
        "id": "ca616058432bc743",
        "type": "openweathermap",
        "z": "6737c1cda3b1c4ca",
        "name": "Grintovec",
        "wtype": "current",
        "lon": "14.534664528",
        "lat": "46.354331916",
        "city": "",
        "country": "",
        "language": "en",
        "x": 580,
        "y": 1780,
        "wires": [
            [
                "8e84ae7f39f5d8f5",
                "b37f97a4bf6cd721",
                "988e11b35dc1580f",
                "c066c601d7c271ee",
                "56879e7346431cae",
                "73530fa97775e2cf"
            ]
        ]
    },
    {
        "id": "8e84ae7f39f5d8f5",
        "type": "ui_text",
        "z": "6737c1cda3b1c4ca",
        "group": "af56c5e80906d9ad",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Temperatura",
        "format": "{{msg.payload.tempc}} ˚C",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 950,
        "y": 1720,
        "wires": []
    },
    {
        "id": "b37f97a4bf6cd721",
        "type": "ui_text",
        "z": "6737c1cda3b1c4ca",
        "group": "af56c5e80906d9ad",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Oblačnost",
        "format": "{{msg.payload.clouds}} %",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 960,
        "y": 1760,
        "wires": []
    },
    {
        "id": "988e11b35dc1580f",
        "type": "ui_text",
        "z": "6737c1cda3b1c4ca",
        "group": "af56c5e80906d9ad",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Vlaga",
        "format": "{{msg.payload.humidity}} %",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 950,
        "y": 1800,
        "wires": []
    },
    {
        "id": "c066c601d7c271ee",
        "type": "ui_text",
        "z": "6737c1cda3b1c4ca",
        "group": "af56c5e80906d9ad",
        "order": 5,
        "width": 5,
        "height": 1,
        "name": "",
        "label": "Veter",
        "format": "{{msg.payload.windspeed}} km/h",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 950,
        "y": 1840,
        "wires": []
    },
    {
        "id": "07ffc0549f53b957",
        "type": "ui_gauge",
        "z": "6737c1cda3b1c4ca",
        "name": "",
        "group": "af56c5e80906d9ad",
        "order": 6,
        "width": 5,
        "height": 4,
        "gtype": "gage",
        "title": "Score",
        "label": "",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#ca3838",
            "#e6e600",
            "#00b500"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1110,
        "y": 1860,
        "wires": []
    },
    {
        "id": "3fb53075de1c31f4",
        "type": "function",
        "z": "6737c1cda3b1c4ca",
        "name": "score",
        "func": "var temp = msg.payload.tempc;\nvar clouds = msg.payload.clouds;\nvar windspd = msg.payload.windspeed;\nvar humidity = msg.payload.humidity;\nvar rain = msg.payload.rain;\ntemp = 4 - 4 * Math.abs(20-temp)/30;\nwindspd = 0.5 - 0.5  * windspd/100;\nhumidity = 0.5 - 0.5 * Math.abs(40 - humidity)/50;\nclouds = 2 - 2*clouds/100;\nrain = 3 - 3 * rain/50;\nvar score = temp + windspd + humidity + clouds + rain;\nmsg.payload = score;\n\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 870,
        "y": 1900,
        "wires": [
            [
                "a1e69dbf84b84ded"
            ]
        ]
    },
    {
        "id": "a1e69dbf84b84ded",
        "type": "calculator",
        "z": "6737c1cda3b1c4ca",
        "name": "round",
        "inputMsgField": "payload",
        "outputMsgField": "payload",
        "operation": "mult",
        "constant": "1",
        "round": true,
        "truncate": false,
        "decimals": "2",
        "decimals2": 0,
        "x": 990,
        "y": 1900,
        "wires": [
            [
                "07ffc0549f53b957",
                "7d5f2db62f55c27a"
            ]
        ]
    },
    {
        "id": "7d5f2db62f55c27a",
        "type": "change",
        "z": "6737c1cda3b1c4ca",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "Grintovec",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1150,
        "y": 1920,
        "wires": [
            []
        ]
    },
    {
        "id": "d03b79aee44ad27e",
        "type": "ui_text",
        "z": "6737c1cda3b1c4ca",
        "group": "af56c5e80906d9ad",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Dež",
        "format": "{{msg.payload.rain}} mm",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 930,
        "y": 1680,
        "wires": []
    },
    {
        "id": "56879e7346431cae",
        "type": "function",
        "z": "6737c1cda3b1c4ca",
        "name": "set to rain to 0",
        "func": "if(msg.payload.rain == null){\n    msg.payload.rain = 0;\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 740,
        "y": 1700,
        "wires": [
            [
                "d03b79aee44ad27e"
            ]
        ]
    },
    {
        "id": "73530fa97775e2cf",
        "type": "function",
        "z": "6737c1cda3b1c4ca",
        "name": "set to rain to 0",
        "func": "if(msg.payload.rain == null){\n    msg.payload.rain = 0;\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 700,
        "y": 1840,
        "wires": [
            [
                "3fb53075de1c31f4"
            ]
        ]
    },
    {
        "id": "47e51bc06d394cee",
        "type": "openweathermap",
        "z": "6737c1cda3b1c4ca",
        "name": "Snežnik",
        "wtype": "current",
        "lon": "14.44727",
        "lat": "45.58843",
        "city": "",
        "country": "",
        "language": "en",
        "x": 1280,
        "y": 800,
        "wires": [
            [
                "0eb7ac4b811a04d8",
                "ed5d53697fe5c391",
                "fb1932aede4dca4b",
                "f342c810f0a61e27",
                "4cbd7b467ddaa663",
                "9f034e504f03d28e"
            ]
        ]
    },
    {
        "id": "9f034e504f03d28e",
        "type": "ui_text",
        "z": "6737c1cda3b1c4ca",
        "group": "a033b298816a874d",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Temperatura",
        "format": "{{msg.payload.tempc}} ˚C",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1730,
        "y": 780,
        "wires": []
    },
    {
        "id": "fb1932aede4dca4b",
        "type": "ui_text",
        "z": "6737c1cda3b1c4ca",
        "group": "a033b298816a874d",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Oblačnost",
        "format": "{{msg.payload.clouds}} %",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1740,
        "y": 820,
        "wires": []
    },
    {
        "id": "f342c810f0a61e27",
        "type": "ui_text",
        "z": "6737c1cda3b1c4ca",
        "group": "a033b298816a874d",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Vlaga",
        "format": "{{msg.payload.humidity}} %",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1730,
        "y": 860,
        "wires": []
    },
    {
        "id": "4cbd7b467ddaa663",
        "type": "ui_text",
        "z": "6737c1cda3b1c4ca",
        "group": "a033b298816a874d",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Veter",
        "format": "{{msg.payload.windspeed}} km/h",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1750,
        "y": 900,
        "wires": []
    },
    {
        "id": "b437b0a679443074",
        "type": "function",
        "z": "6737c1cda3b1c4ca",
        "name": "score",
        "func": "var temp = msg.payload.tempc;\nvar clouds = msg.payload.clouds;\nvar windspd = msg.payload.windspeed;\nvar humidity = msg.payload.humidity;\nvar rain = msg.payload.rain;\ntemp = 4 - 4 * Math.abs(20-temp)/30;\nwindspd = 0.5 - 0.5  * windspd/100;\nhumidity = 0.5 - 0.5 * Math.abs(40 - humidity)/50;\nclouds = 2 - 2*clouds/100;\nrain = 3 - 3 * rain/50;\nvar score = temp + windspd + humidity + clouds + rain;\nmsg.payload = score;\n\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1530,
        "y": 900,
        "wires": [
            [
                "ffc6a4c324377128"
            ]
        ]
    },
    {
        "id": "ffc6a4c324377128",
        "type": "calculator",
        "z": "6737c1cda3b1c4ca",
        "name": "round",
        "inputMsgField": "payload",
        "outputMsgField": "payload",
        "operation": "mult",
        "constant": "1",
        "round": true,
        "truncate": false,
        "decimals": "2",
        "decimals2": 0,
        "x": 1630,
        "y": 940,
        "wires": [
            [
                "60fcd15e5d60b57b",
                "03a83cdbeb31147c"
            ]
        ]
    },
    {
        "id": "60fcd15e5d60b57b",
        "type": "change",
        "z": "6737c1cda3b1c4ca",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "Sneznik",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1780,
        "y": 980,
        "wires": [
            []
        ]
    },
    {
        "id": "f30d9ccf878ee50c",
        "type": "ui_text",
        "z": "6737c1cda3b1c4ca",
        "group": "a033b298816a874d",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Dež",
        "format": "{{msg.payload.rain}} mm",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1730,
        "y": 740,
        "wires": []
    },
    {
        "id": "0eb7ac4b811a04d8",
        "type": "function",
        "z": "6737c1cda3b1c4ca",
        "name": "set to rain to 0",
        "func": "if(msg.payload.rain == null){\n    msg.payload.rain = 0;\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1460,
        "y": 740,
        "wires": [
            [
                "f30d9ccf878ee50c"
            ]
        ]
    },
    {
        "id": "ed5d53697fe5c391",
        "type": "function",
        "z": "6737c1cda3b1c4ca",
        "name": "set to rain to 0",
        "func": "if(msg.payload.rain == null){\n    msg.payload.rain = 0;\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1400,
        "y": 860,
        "wires": [
            [
                "b437b0a679443074"
            ]
        ]
    },
    {
        "id": "03a83cdbeb31147c",
        "type": "ui_gauge",
        "z": "6737c1cda3b1c4ca",
        "name": "",
        "group": "a033b298816a874d",
        "order": 6,
        "width": 5,
        "height": 4,
        "gtype": "gage",
        "title": "Snežnik",
        "label": "",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#ca3838",
            "#e6e600",
            "#00b500"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1780,
        "y": 940,
        "wires": []
    },
    {
        "id": "766a61f50506e280",
        "type": "openweathermap",
        "z": "6737c1cda3b1c4ca",
        "name": "Pohorje",
        "wtype": "current",
        "lon": "15.233183",
        "lat": "46.485981",
        "city": "",
        "country": "",
        "language": "en",
        "x": 1340,
        "y": 1120,
        "wires": [
            [
                "da824d2407e75531",
                "4984060591e6bd7a",
                "6dfde695272e1e55",
                "fcdeddc34af46874",
                "aad567adcd5a5a58",
                "a425a8c2bfd841ea"
            ]
        ]
    },
    {
        "id": "a425a8c2bfd841ea",
        "type": "ui_text",
        "z": "6737c1cda3b1c4ca",
        "group": "92511fdcc588b7a9",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Temperatura",
        "format": "{{msg.payload.tempc}} ˚C",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1730,
        "y": 1080,
        "wires": []
    },
    {
        "id": "6dfde695272e1e55",
        "type": "ui_text",
        "z": "6737c1cda3b1c4ca",
        "group": "92511fdcc588b7a9",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Oblačnost",
        "format": "{{msg.payload.clouds}} %",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1740,
        "y": 1120,
        "wires": []
    },
    {
        "id": "fcdeddc34af46874",
        "type": "ui_text",
        "z": "6737c1cda3b1c4ca",
        "group": "92511fdcc588b7a9",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Vlaga",
        "format": "{{msg.payload.humidity}} %",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1710,
        "y": 1160,
        "wires": []
    },
    {
        "id": "aad567adcd5a5a58",
        "type": "ui_text",
        "z": "6737c1cda3b1c4ca",
        "group": "92511fdcc588b7a9",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Veter",
        "format": "{{msg.payload.windspeed}} km/h",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1710,
        "y": 1200,
        "wires": []
    },
    {
        "id": "8509fb81648a8657",
        "type": "function",
        "z": "6737c1cda3b1c4ca",
        "name": "score",
        "func": "var temp = msg.payload.tempc;\nvar clouds = msg.payload.clouds;\nvar windspd = msg.payload.windspeed;\nvar humidity = msg.payload.humidity;\nvar rain = msg.payload.rain;\ntemp = 4 - 4 * Math.abs(20-temp)/30;\nwindspd = 0.5 - 0.5  * windspd/100;\nhumidity = 0.5 - 0.5 * Math.abs(40 - humidity)/50;\nclouds = 2 - 2*clouds/100;\nrain = 3 - 3 * rain/50;\nvar score = temp + windspd + humidity + clouds + rain;\nmsg.payload = score;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1590,
        "y": 1220,
        "wires": [
            [
                "ab346a892af1e13f"
            ]
        ]
    },
    {
        "id": "ab346a892af1e13f",
        "type": "calculator",
        "z": "6737c1cda3b1c4ca",
        "name": "round",
        "inputMsgField": "payload",
        "outputMsgField": "payload",
        "operation": "mult",
        "constant": "1",
        "round": true,
        "truncate": false,
        "decimals": "2",
        "decimals2": 0,
        "x": 1670,
        "y": 1260,
        "wires": [
            [
                "80d3cf20718429fc",
                "c4329c8d685c8471"
            ]
        ]
    },
    {
        "id": "80d3cf20718429fc",
        "type": "change",
        "z": "6737c1cda3b1c4ca",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "Pohorje",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1800,
        "y": 1300,
        "wires": [
            []
        ]
    },
    {
        "id": "e6db9e2f5fa66d04",
        "type": "ui_text",
        "z": "6737c1cda3b1c4ca",
        "group": "92511fdcc588b7a9",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Dež",
        "format": "{{msg.payload.rain}} mm",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1730,
        "y": 1040,
        "wires": []
    },
    {
        "id": "da824d2407e75531",
        "type": "function",
        "z": "6737c1cda3b1c4ca",
        "name": "set to rain to 0",
        "func": "if(msg.payload.rain == null){\n    msg.payload.rain = 0;\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1520,
        "y": 1060,
        "wires": [
            [
                "e6db9e2f5fa66d04"
            ]
        ]
    },
    {
        "id": "4984060591e6bd7a",
        "type": "function",
        "z": "6737c1cda3b1c4ca",
        "name": "set to rain to 0",
        "func": "if(msg.payload.rain == null){\n    msg.payload.rain = 0;\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1460,
        "y": 1180,
        "wires": [
            [
                "8509fb81648a8657"
            ]
        ]
    },
    {
        "id": "c4329c8d685c8471",
        "type": "ui_gauge",
        "z": "6737c1cda3b1c4ca",
        "name": "",
        "group": "92511fdcc588b7a9",
        "order": 6,
        "width": 5,
        "height": 4,
        "gtype": "gage",
        "title": "Score",
        "label": "",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#ca3838",
            "#e6e600",
            "#00b500"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1790,
        "y": 1260,
        "wires": []
    },
    {
        "id": "462fba041743b6d0",
        "type": "openweathermap",
        "z": "6737c1cda3b1c4ca",
        "name": "Mangart",
        "wtype": "current",
        "lon": "13.654617",
        "lat": "46.439473",
        "city": "",
        "country": "",
        "language": "en",
        "x": 1340,
        "y": 1440,
        "wires": [
            [
                "fb14c4796759af33",
                "db891dcf5ac0802b",
                "148ba5071a7ca7f9",
                "4c0594db4b5914e0",
                "f1f795f6ee4a87dc",
                "2e8c397dedd2f3f9"
            ]
        ]
    },
    {
        "id": "2e8c397dedd2f3f9",
        "type": "ui_text",
        "z": "6737c1cda3b1c4ca",
        "group": "6ae1b93c5086935b",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Temperatura",
        "format": "{{msg.payload.tempc}} ˚C",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1730,
        "y": 1400,
        "wires": []
    },
    {
        "id": "148ba5071a7ca7f9",
        "type": "ui_text",
        "z": "6737c1cda3b1c4ca",
        "group": "6ae1b93c5086935b",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Oblačnost",
        "format": "{{msg.payload.clouds}} %",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1740,
        "y": 1440,
        "wires": []
    },
    {
        "id": "4c0594db4b5914e0",
        "type": "ui_text",
        "z": "6737c1cda3b1c4ca",
        "group": "6ae1b93c5086935b",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Vlaga",
        "format": "{{msg.payload.humidity}} %",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1710,
        "y": 1480,
        "wires": []
    },
    {
        "id": "f1f795f6ee4a87dc",
        "type": "ui_text",
        "z": "6737c1cda3b1c4ca",
        "group": "6ae1b93c5086935b",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Veter",
        "format": "{{msg.payload.windspeed}} km/h",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1710,
        "y": 1520,
        "wires": []
    },
    {
        "id": "de9ba1b42a01bc50",
        "type": "function",
        "z": "6737c1cda3b1c4ca",
        "name": "score",
        "func": "var temp = msg.payload.tempc;\nvar clouds = msg.payload.clouds;\nvar windspd = msg.payload.windspeed;\nvar humidity = msg.payload.humidity;\nvar rain = msg.payload.rain;\ntemp = 4 - 4 * Math.abs(20-temp)/30;\nwindspd = 0.5 - 0.5  * windspd/100;\nhumidity = 0.5 - 0.5 * Math.abs(40 - humidity)/50;\nclouds = 2 - 2*clouds/100;\nrain = 3 - 3 * rain/50;\nvar score = temp + windspd + humidity + clouds + rain;\nmsg.payload = score;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1590,
        "y": 1540,
        "wires": [
            [
                "1e3b88f5ea2c4982"
            ]
        ]
    },
    {
        "id": "1e3b88f5ea2c4982",
        "type": "calculator",
        "z": "6737c1cda3b1c4ca",
        "name": "round",
        "inputMsgField": "payload",
        "outputMsgField": "payload",
        "operation": "mult",
        "constant": "1",
        "round": true,
        "truncate": false,
        "decimals": "2",
        "decimals2": 0,
        "x": 1670,
        "y": 1580,
        "wires": [
            [
                "e36b47663d40ce69",
                "6a854170e946fa7d"
            ]
        ]
    },
    {
        "id": "e36b47663d40ce69",
        "type": "change",
        "z": "6737c1cda3b1c4ca",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "Mangart",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1800,
        "y": 1620,
        "wires": [
            []
        ]
    },
    {
        "id": "b5619264ea476fb7",
        "type": "ui_text",
        "z": "6737c1cda3b1c4ca",
        "group": "6ae1b93c5086935b",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Dež",
        "format": "{{msg.payload.rain}} mm",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1730,
        "y": 1360,
        "wires": []
    },
    {
        "id": "fb14c4796759af33",
        "type": "function",
        "z": "6737c1cda3b1c4ca",
        "name": "set to rain to 0",
        "func": "if(msg.payload.rain == null){\n    msg.payload.rain = 0;\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1520,
        "y": 1380,
        "wires": [
            [
                "b5619264ea476fb7"
            ]
        ]
    },
    {
        "id": "db891dcf5ac0802b",
        "type": "function",
        "z": "6737c1cda3b1c4ca",
        "name": "set to rain to 0",
        "func": "if(msg.payload.rain == null){\n    msg.payload.rain = 0;\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1460,
        "y": 1500,
        "wires": [
            [
                "de9ba1b42a01bc50"
            ]
        ]
    },
    {
        "id": "6a854170e946fa7d",
        "type": "ui_gauge",
        "z": "6737c1cda3b1c4ca",
        "name": "",
        "group": "6ae1b93c5086935b",
        "order": 6,
        "width": 5,
        "height": 4,
        "gtype": "gage",
        "title": "Score",
        "label": "",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#ca3838",
            "#e6e600",
            "#00b500"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1790,
        "y": 1580,
        "wires": []
    },
    {
        "id": "5326a4ccb454a357",
        "type": "openweathermap",
        "z": "6737c1cda3b1c4ca",
        "name": "Kum",
        "wtype": "current",
        "lon": "15.072978",
        "lat": "46.087856",
        "city": "",
        "country": "",
        "language": "en",
        "x": 1370,
        "y": 1760,
        "wires": [
            [
                "0753421181ae6fec",
                "4a5bd99ee7618429",
                "7f87ddce4989e309",
                "01e5fa0a66d22226",
                "9239db6514a59f2c",
                "13986101f4cfa15a"
            ]
        ]
    },
    {
        "id": "13986101f4cfa15a",
        "type": "ui_text",
        "z": "6737c1cda3b1c4ca",
        "group": "9a691c491b94fe38",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Temperatura",
        "format": "{{msg.payload.tempc}} ˚C",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1770,
        "y": 1720,
        "wires": []
    },
    {
        "id": "7f87ddce4989e309",
        "type": "ui_text",
        "z": "6737c1cda3b1c4ca",
        "group": "9a691c491b94fe38",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Oblačnost",
        "format": "{{msg.payload.clouds}} %",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1780,
        "y": 1760,
        "wires": []
    },
    {
        "id": "01e5fa0a66d22226",
        "type": "ui_text",
        "z": "6737c1cda3b1c4ca",
        "group": "9a691c491b94fe38",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Vlaga",
        "format": "{{msg.payload.humidity}} %",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1750,
        "y": 1800,
        "wires": []
    },
    {
        "id": "9239db6514a59f2c",
        "type": "ui_text",
        "z": "6737c1cda3b1c4ca",
        "group": "9a691c491b94fe38",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Veter",
        "format": "{{msg.payload.windspeed}} km/h",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1750,
        "y": 1840,
        "wires": []
    },
    {
        "id": "fc71f5a3ed181198",
        "type": "function",
        "z": "6737c1cda3b1c4ca",
        "name": "score",
        "func": "var temp = msg.payload.tempc;\nvar clouds = msg.payload.clouds;\nvar windspd = msg.payload.windspeed;\nvar humidity = msg.payload.humidity;\nvar rain = msg.payload.rain;\ntemp = 4 - 4 * Math.abs(20-temp)/30;\nwindspd = 0.5 - 0.5  * windspd/100;\nhumidity = 0.5 - 0.5 * Math.abs(40 - humidity)/50;\nclouds = 2 - 2*clouds/100;\nrain = 3 - 3 * rain/50;\nvar score = temp + windspd + humidity + clouds + rain;\nmsg.payload = score;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1630,
        "y": 1860,
        "wires": [
            [
                "3932bc7ed84cd7fd"
            ]
        ]
    },
    {
        "id": "3932bc7ed84cd7fd",
        "type": "calculator",
        "z": "6737c1cda3b1c4ca",
        "name": "round",
        "inputMsgField": "payload",
        "outputMsgField": "payload",
        "operation": "mult",
        "constant": "1",
        "round": true,
        "truncate": false,
        "decimals": "2",
        "decimals2": 0,
        "x": 1710,
        "y": 1900,
        "wires": [
            [
                "e16ed0306401416c",
                "9d923236b720eee9"
            ]
        ]
    },
    {
        "id": "e16ed0306401416c",
        "type": "change",
        "z": "6737c1cda3b1c4ca",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "Kum",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1830,
        "y": 1940,
        "wires": [
            []
        ]
    },
    {
        "id": "91e69fd8c41bae7c",
        "type": "ui_text",
        "z": "6737c1cda3b1c4ca",
        "group": "9a691c491b94fe38",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Dež",
        "format": "{{msg.payload.rain}} mm",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1770,
        "y": 1680,
        "wires": []
    },
    {
        "id": "0753421181ae6fec",
        "type": "function",
        "z": "6737c1cda3b1c4ca",
        "name": "set to rain to 0",
        "func": "if(msg.payload.rain == null){\n    msg.payload.rain = 0;\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1560,
        "y": 1700,
        "wires": [
            [
                "91e69fd8c41bae7c"
            ]
        ]
    },
    {
        "id": "4a5bd99ee7618429",
        "type": "function",
        "z": "6737c1cda3b1c4ca",
        "name": "set to rain to 0",
        "func": "if(msg.payload.rain == null){\n    msg.payload.rain = 0;\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1500,
        "y": 1820,
        "wires": [
            [
                "fc71f5a3ed181198"
            ]
        ]
    },
    {
        "id": "9d923236b720eee9",
        "type": "ui_gauge",
        "z": "6737c1cda3b1c4ca",
        "name": "",
        "group": "9a691c491b94fe38",
        "order": 6,
        "width": 5,
        "height": 4,
        "gtype": "gage",
        "title": "Score",
        "label": "",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#ca3838",
            "#e6e600",
            "#00b500"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1830,
        "y": 1900,
        "wires": []
    },
    {
        "id": "060007dd127c4cd9",
        "type": "ui_slider",
        "z": "6737c1cda3b1c4ca",
        "name": "",
        "label": "",
        "tooltip": "",
        "group": "c2c425f4f853cd8b",
        "order": 5,
        "width": 5,
        "height": 1,
        "passthru": true,
        "outs": "all",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": 10,
        "step": "0.1",
        "className": "",
        "x": 230,
        "y": 60,
        "wires": [
            [
                "6a17698541a3e519",
                "67dea329e045808d"
            ]
        ]
    },
    {
        "id": "6a17698541a3e519",
        "type": "ui_text",
        "z": "6737c1cda3b1c4ca",
        "group": "c2c425f4f853cd8b",
        "order": 4,
        "width": 5,
        "height": 2,
        "name": "",
        "label": "Videti hočem podatke gor z oceno višjo od: ",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 230,
        "y": 320,
        "wires": []
    },
    {
        "id": "771aedbd501d8bd2",
        "type": "ui_button",
        "z": "6737c1cda3b1c4ca",
        "name": "",
        "group": "c2c425f4f853cd8b",
        "order": 2,
        "width": 5,
        "height": 1,
        "passthru": false,
        "label": "filtriraj",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "sliderScore",
        "payloadType": "flow",
        "topic": "topic",
        "topicType": "msg",
        "x": 470,
        "y": 120,
        "wires": [
            [
                "781b5e15651a641c",
                "611525df7afbe65c",
                "ba34a470462a1410",
                "af2187deea334f4e",
                "1450010c41f45780",
                "77485814a2dcbf4f",
                "3045c8780c758e79",
                "7ad8d0e580671630"
            ]
        ]
    },
    {
        "id": "4a708abd300577ef",
        "type": "change",
        "z": "6737c1cda3b1c4ca",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"group\":{\"show\":[\"Projekt_Triglav\"]}}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1080,
        "y": 20,
        "wires": [
            [
                "e8d36da9385d8abb"
            ]
        ]
    },
    {
        "id": "279ed5d319c32845",
        "type": "change",
        "z": "6737c1cda3b1c4ca",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"group\" : {\"hide\" : [\"Projekt_Triglav\"]}}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1080,
        "y": 60,
        "wires": [
            [
                "e8d36da9385d8abb"
            ]
        ]
    },
    {
        "id": "e8d36da9385d8abb",
        "type": "ui_ui_control",
        "z": "6737c1cda3b1c4ca",
        "name": "",
        "events": "all",
        "x": 1360,
        "y": 40,
        "wires": [
            []
        ]
    },
    {
        "id": "67dea329e045808d",
        "type": "change",
        "z": "6737c1cda3b1c4ca",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "sliderScore",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 250,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "781b5e15651a641c",
        "type": "switch",
        "z": "6737c1cda3b1c4ca",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "lt",
                "v": "Triglav",
                "vt": "flow"
            },
            {
                "t": "gte",
                "v": "Triglav",
                "vt": "flow"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 830,
        "y": 40,
        "wires": [
            [
                "4a708abd300577ef"
            ],
            [
                "279ed5d319c32845"
            ]
        ]
    },
    {
        "id": "2f4422149cd89ebb",
        "type": "change",
        "z": "6737c1cda3b1c4ca",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"group\":{\"show\":[\"Projekt_Krvavec\"]}}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1080,
        "y": 100,
        "wires": [
            [
                "ca1b970e2a939dfc"
            ]
        ]
    },
    {
        "id": "58716ad91d64d51b",
        "type": "change",
        "z": "6737c1cda3b1c4ca",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"group\" : {\"hide\" : [\"Projekt_Krvavec\"]}}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1080,
        "y": 140,
        "wires": [
            [
                "ca1b970e2a939dfc"
            ]
        ]
    },
    {
        "id": "ca1b970e2a939dfc",
        "type": "ui_ui_control",
        "z": "6737c1cda3b1c4ca",
        "name": "",
        "events": "all",
        "x": 1360,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "611525df7afbe65c",
        "type": "switch",
        "z": "6737c1cda3b1c4ca",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "lt",
                "v": "Krvavec",
                "vt": "flow"
            },
            {
                "t": "gte",
                "v": "Krvavec",
                "vt": "flow"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 830,
        "y": 120,
        "wires": [
            [
                "2f4422149cd89ebb"
            ],
            [
                "58716ad91d64d51b"
            ]
        ]
    },
    {
        "id": "5a637b547fcf2d71",
        "type": "change",
        "z": "6737c1cda3b1c4ca",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"group\":{\"show\":[\"Projekt_Skuta\"]}}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1080,
        "y": 180,
        "wires": [
            [
                "73660da595b24044"
            ]
        ]
    },
    {
        "id": "821d78fba4d29a86",
        "type": "change",
        "z": "6737c1cda3b1c4ca",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"group\" : {\"hide\" : [\"Projekt_Skuta\"]}}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1080,
        "y": 220,
        "wires": [
            [
                "73660da595b24044"
            ]
        ]
    },
    {
        "id": "73660da595b24044",
        "type": "ui_ui_control",
        "z": "6737c1cda3b1c4ca",
        "name": "",
        "events": "all",
        "x": 1360,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "ba34a470462a1410",
        "type": "switch",
        "z": "6737c1cda3b1c4ca",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "lt",
                "v": "Skuto",
                "vt": "flow"
            },
            {
                "t": "gte",
                "v": "Skuto",
                "vt": "flow"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 830,
        "y": 200,
        "wires": [
            [
                "5a637b547fcf2d71"
            ],
            [
                "821d78fba4d29a86"
            ]
        ]
    },
    {
        "id": "6f2fc051b4847f4e",
        "type": "change",
        "z": "6737c1cda3b1c4ca",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"group\":{\"show\":[\"Projekt_Grintovec\"]}}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1080,
        "y": 260,
        "wires": [
            [
                "ed829213fac58b4b"
            ]
        ]
    },
    {
        "id": "b5b5b3202e96e1d9",
        "type": "change",
        "z": "6737c1cda3b1c4ca",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"group\" : {\"hide\" : [\"Projekt_Grintovec\"]}}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1080,
        "y": 300,
        "wires": [
            [
                "ed829213fac58b4b"
            ]
        ]
    },
    {
        "id": "ed829213fac58b4b",
        "type": "ui_ui_control",
        "z": "6737c1cda3b1c4ca",
        "name": "",
        "events": "all",
        "x": 1360,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "af2187deea334f4e",
        "type": "switch",
        "z": "6737c1cda3b1c4ca",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "lt",
                "v": "Grintovec",
                "vt": "flow"
            },
            {
                "t": "gte",
                "v": "Grintovec",
                "vt": "flow"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 830,
        "y": 280,
        "wires": [
            [
                "6f2fc051b4847f4e"
            ],
            [
                "b5b5b3202e96e1d9"
            ]
        ]
    },
    {
        "id": "cec795a89148254d",
        "type": "change",
        "z": "6737c1cda3b1c4ca",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"group\":{\"show\":[\"Projekt_Snežnik\"]}}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1080,
        "y": 340,
        "wires": [
            [
                "b2e2eefbe33458f9"
            ]
        ]
    },
    {
        "id": "b2e2eefbe33458f9",
        "type": "ui_ui_control",
        "z": "6737c1cda3b1c4ca",
        "name": "",
        "events": "all",
        "x": 1360,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "d644197a089a24f7",
        "type": "change",
        "z": "6737c1cda3b1c4ca",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"group\":{\"show\":[\"Projekt_Pohorje\"]}}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1100,
        "y": 420,
        "wires": [
            [
                "5cfe39e3735774cd"
            ]
        ]
    },
    {
        "id": "b11b930f6a26e284",
        "type": "change",
        "z": "6737c1cda3b1c4ca",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"group\" : {\"hide\" : [\"Projekt_Pohorje\"]}}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1100,
        "y": 460,
        "wires": [
            [
                "5cfe39e3735774cd"
            ]
        ]
    },
    {
        "id": "5cfe39e3735774cd",
        "type": "ui_ui_control",
        "z": "6737c1cda3b1c4ca",
        "name": "",
        "events": "all",
        "x": 1380,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "1450010c41f45780",
        "type": "switch",
        "z": "6737c1cda3b1c4ca",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "lt",
                "v": "Pohorje",
                "vt": "flow"
            },
            {
                "t": "gte",
                "v": "Pohorje",
                "vt": "flow"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 850,
        "y": 440,
        "wires": [
            [
                "d644197a089a24f7"
            ],
            [
                "b11b930f6a26e284"
            ]
        ]
    },
    {
        "id": "35c9e4f8ee47e132",
        "type": "change",
        "z": "6737c1cda3b1c4ca",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"group\":{\"show\":[\"Projekt_Mangart\"]}}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1100,
        "y": 500,
        "wires": [
            [
                "e4fcd2b26866e9ce"
            ]
        ]
    },
    {
        "id": "700b03f9dc1f185e",
        "type": "change",
        "z": "6737c1cda3b1c4ca",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"group\" : {\"hide\" : [\"Projekt_Mangart\"]}}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1100,
        "y": 540,
        "wires": [
            [
                "e4fcd2b26866e9ce"
            ]
        ]
    },
    {
        "id": "e4fcd2b26866e9ce",
        "type": "ui_ui_control",
        "z": "6737c1cda3b1c4ca",
        "name": "",
        "events": "all",
        "x": 1380,
        "y": 520,
        "wires": [
            []
        ]
    },
    {
        "id": "77485814a2dcbf4f",
        "type": "switch",
        "z": "6737c1cda3b1c4ca",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "lt",
                "v": "Mangart",
                "vt": "flow"
            },
            {
                "t": "gte",
                "v": "Mangart",
                "vt": "flow"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 850,
        "y": 520,
        "wires": [
            [
                "35c9e4f8ee47e132"
            ],
            [
                "700b03f9dc1f185e"
            ]
        ]
    },
    {
        "id": "405b673527ffe60c",
        "type": "change",
        "z": "6737c1cda3b1c4ca",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"group\":{\"show\":[\"Projekt_Kum\"]}}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1100,
        "y": 580,
        "wires": [
            [
                "e8b77593c185a87c"
            ]
        ]
    },
    {
        "id": "513f23d690988e91",
        "type": "change",
        "z": "6737c1cda3b1c4ca",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"group\" : {\"hide\" : [\"Projekt_Kum\"]}}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1100,
        "y": 620,
        "wires": [
            [
                "e8b77593c185a87c"
            ]
        ]
    },
    {
        "id": "e8b77593c185a87c",
        "type": "ui_ui_control",
        "z": "6737c1cda3b1c4ca",
        "name": "",
        "events": "all",
        "x": 1380,
        "y": 600,
        "wires": [
            []
        ]
    },
    {
        "id": "3045c8780c758e79",
        "type": "switch",
        "z": "6737c1cda3b1c4ca",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "lt",
                "v": "Kum",
                "vt": "flow"
            },
            {
                "t": "gte",
                "v": "Kum",
                "vt": "flow"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 850,
        "y": 600,
        "wires": [
            [
                "405b673527ffe60c"
            ],
            [
                "513f23d690988e91"
            ]
        ]
    },
    {
        "id": "cf30110c6c1f7008",
        "type": "change",
        "z": "6737c1cda3b1c4ca",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"group\" : {\"hide\" : [\"Projekt_Snežnik\"]}}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1080,
        "y": 380,
        "wires": [
            [
                "b2e2eefbe33458f9"
            ]
        ]
    },
    {
        "id": "7ad8d0e580671630",
        "type": "switch",
        "z": "6737c1cda3b1c4ca",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "lt",
                "v": "Sneznik",
                "vt": "flow"
            },
            {
                "t": "gte",
                "v": "Sneznik",
                "vt": "flow"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 830,
        "y": 360,
        "wires": [
            [
                "cec795a89148254d"
            ],
            [
                "cf30110c6c1f7008"
            ]
        ]
    },
    {
        "id": "c2c425f4f853cd8b",
        "type": "ui_group",
        "name": "Upravljanje",
        "tab": "21e06b0c3f48fc16",
        "order": 1,
        "disp": true,
        "width": 10,
        "collapse": false,
        "className": ""
    },
    {
        "id": "aafe8b15f310eff1",
        "type": "ui_group",
        "name": "Triglav",
        "tab": "21e06b0c3f48fc16",
        "order": 4,
        "disp": true,
        "width": "5",
        "collapse": true,
        "className": ""
    },
    {
        "id": "0aa09fab55e686c0",
        "type": "ui_group",
        "name": "Krvavec",
        "tab": "21e06b0c3f48fc16",
        "order": 3,
        "disp": true,
        "width": "5",
        "collapse": true,
        "className": ""
    },
    {
        "id": "9c0fab47e772d83f",
        "type": "ui_group",
        "name": "Skuta",
        "tab": "21e06b0c3f48fc16",
        "order": 5,
        "disp": true,
        "width": "5",
        "collapse": true,
        "className": ""
    },
    {
        "id": "af56c5e80906d9ad",
        "type": "ui_group",
        "name": "Grintovec",
        "tab": "21e06b0c3f48fc16",
        "order": 6,
        "disp": true,
        "width": "5",
        "collapse": true,
        "className": ""
    },
    {
        "id": "a033b298816a874d",
        "type": "ui_group",
        "name": "Snežnik",
        "tab": "21e06b0c3f48fc16",
        "order": 10,
        "disp": true,
        "width": 5,
        "collapse": true,
        "className": ""
    },
    {
        "id": "92511fdcc588b7a9",
        "type": "ui_group",
        "name": "Pohorje",
        "tab": "21e06b0c3f48fc16",
        "order": 8,
        "disp": true,
        "width": "5",
        "collapse": true,
        "className": ""
    },
    {
        "id": "6ae1b93c5086935b",
        "type": "ui_group",
        "name": "Mangart",
        "tab": "21e06b0c3f48fc16",
        "order": 9,
        "disp": true,
        "width": "5",
        "collapse": true,
        "className": ""
    },
    {
        "id": "9a691c491b94fe38",
        "type": "ui_group",
        "name": "Kum",
        "tab": "21e06b0c3f48fc16",
        "order": 2,
        "disp": true,
        "width": 5,
        "collapse": true,
        "className": ""
    },
    {
        "id": "21e06b0c3f48fc16",
        "type": "ui_tab",
        "name": "Projekt",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]